body{
    margin:20px;
    text-align:center;
    background-color:#f5deb3;
    font-size:30px;
}

table{
  margin:30px auto;
}
tr{
  margin-bottom:20px;
}
th{
  text-align: left;
}
.confirm_contain{
  margin-left: 35%;
  width: 50%;
  
}
.con{
  margin-bottom:30px;
  text-align: left;
}

input[type=submit]{
    padding: 15px 50px;
    font-size: 100%;
	color:#fff;
	cursor: pointer;
	border:none;
	border-radius: 3px;
  background: #000;
  
}
