body{
    margin:20px;
    text-align:center;
    background-color:#f5deb3;
    font-size:30px;
}

table{
  margin:30px auto;
}
tr{
  margin-bottom:20px;
}
th{
  text-align: left;
  padding-bottom: 20px;
  padding-right: 20px;
}
.confirm_contain{
  margin-left: 35%;
  width: 60%;

}
.con{
  margin-bottom:30px;
  text-align: left;
}

.push{
  padding: 15px 50px;
  font-size: 100%;
	color:#fff;
	cursor: pointer;
	border:none;
	border-radius: 3px;
  background: #000;
  
}
